<div fxLayout="column" fxLayoutGap="8px">
  <div fxLayout="row" *ngFor="let location of locations">
    <div fxFlex="100">
      <mat-card class="location" style="background: #F7F8FD; color: #5A7392;">
        <mat-card-title>
          {{location.name}}
        </mat-card-title>
        <mat-card-content>
          <a href="https://{{location.website}}">Website</a>
          <p>
            {{location.streetAddress}}, {{location.city}} {{location.state}} {{ location.zip}}
          </p>
          <p>
            {{location.phone}}
          </p>
          <p>
            {{location.type}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="openInventory(location.id)">
            Inventory
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

