<div fxLayout="row">
  <div fxLayout="column" fxFlex="15"></div>
  <div fxLayout="column" fxFlex="40">
    <div fxLayout="row">
      <img src="assets/logo.png" width="400px" height="400px">
    </div>
  </div>

  <div fxLayout="column" fxFlex="30" fxLayoutAlign="center">
    <h1 style="color: #5A7392;">Donation Tracker</h1>
    <div>
      <mat-form-field>
        <input matInput type="email" placeholder="Email" class="signIn" [(ngModel)]="user.email" style="color: #5A7392;">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" class="signIn" [(ngModel)]="user.password" style="color: #5A7392;">
      </mat-form-field>
    </div>
    <button mat-button (click)="signIn()" style="color: #5A7392;">Sign in</button>
  </div>
  <div fxLayout="column" fxFlex="15"></div>
</div>
