<div fxLayout="column" fxLayoutGap="8px" style="color: #5A7392; height: 500px; width: 700px; max-height: 500px; overflow-x: hidden; overflow-y: scroll">
  <div fxLayout="row">
    <div fxFlex="80">
      <h3>{{ locationName }}</h3>
    </div>

    <div fxFlex="20" style="padding-top: 5px">
      <button mat-icon-button style="color: #5A7392" (click)="openAddDialog()">
        <mat-icon style="font-size: 45px">add_circle_outline</mat-icon>
      </button>
    </div>
  </div>
  <div fxLayout="row" *ngFor="let item of items">
    <div fxFlex="90">
      <mat-card>
        <mat-card-title>
            {{item.name}}
          <button mat-icon-button style="float: right">
            <mat-icon>
              edit
            </mat-icon>
          </button>
        </mat-card-title>
        <mat-card-subtitle>
          <p>
            {{item.category}} {{item.quantity}}
          </p>
        </mat-card-subtitle>
      </mat-card>
    </div>
  </div>

</div>

